* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #000000, #2D1B19, #0F0F0F);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
}

.nav {
    width: 95vw;
    height: 80px;
    /* border: 1px solid rgb(176, 176, 177); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo {
    /* border: 1px solid rgb(255, 252, 252); */

    /* cursor: pointer; */
    /* position:absolute; */
}

#symbol {
    display: none;
}

#logo {
    display: block;
    /* cursor: pointer; */
}

.signin {
    width: 75px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    border: 1px solid rgb(134, 134, 136);
    border-radius: 20px;
    margin: 10px;
    background: white;
    cursor: pointer;
}

.signin a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.signin:hover {
    background-color: rgb(231, 230, 230);
}

@media screen and (max-width:1000px) {
    .nav {
        width: 95vw;

    }

    #symbol {
        display: block;
        margin-left: 5px;
    }

    #logo {
        display: none;
        /* margin-left: 100px; */
    }
}

#banner {
    width: 93vw;
    height: 600px;
    /* border: 1px solid white; */
    border-radius: 20px;
    margin: 0 auto;
}

.poster {
    width: 100%;
    height: 90%;
    /* border: 1px solid rgb(207, 207, 209); */
    border-radius: 20px;
    /* clip-path: inset(0%, 0%, 100%, 0); */
    position: relative;
}

.control {
    width: 100%;
    height: 10%;
    border-radius: 20px;
    /* border: 1px solid green; */
}

.page {
    /* border: 2px solid orange; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;


}

.page.active {
    transform: translateX(0);
}


.shado {
    background-color: #000000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 20px;
}

#main {
    background: url(images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 3;


}

#deva {
    z-index: 2;
    background: url(images/deva.jpeg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: translate() 5s ease-in-out;

}

#wrestle {
    z-index: 1;
    background: url(images/download\ \(1\).jpeg) no-repeat;
    background-size: cover;
    background-position: top center;
}



.content {
    width: 70%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    z-index: 2;
    margin-left: 6%;
    margin-bottom: 7%;
    align-self: flex-end;
}

.content h1 {
    color: white;
    font-size: 3.5em;
}

.p {
    font-size: 14px;
    color: white;
    margin: 10px 0;
}

#main .content {
    gap: 20px;
}

.content h3 {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}

.content form {
    width: 100%;

}

.content form input {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: #464747;
    color: white;
    padding: 0 10px;
    font-size: 20px;
    border: none;
    opacity: .9;
}

.content form .button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.content form button:hover {
    background-color: #C11119;
}

.content form p {
    color: white;
    font-size: 1em;
    margin: 10px 0;
}

.move {
    width: 25px;
    height: 80px;
    border-radius: 15px;
    position: absolute;
    opacity: .8;
    background-color: #464747;
    cursor: pointer;
}

.move:hover {
    background-color: #3b3b3b;
}

#left {
    left: 2%;
}

#right {
    right: 2%;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 30vw;
    /* border: 1px solid white; */
    display: flex;
    gap: 5px;
    justify-content: center;

}

.buttons button {
    width: 30%;
    height: 8px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons button:hover {
    transform: scaleY(1.4);
}

.pause {
    display: none;
    cursor: pointer;
}

.play {
    display: block;
    cursor: pointer;
}


@media screen and (max-width:500px) {
    #banner {
        width: 98vw;
        height: 470px;
        border: 1px solid red;
        margin: 0;
    }

    .poster {
        width: 85%;
        margin: auto;
    }

    .page {
        display: flex;
        justify-content: center;
    }

    #deva {
        background-position: top center;
    }

    .content {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 10%;
    }

    .content h1 {
        color: white;
        font-size: 1.5em;
    }

    .content h1 img {
        width: 100px;
    }

    .p {
        display: none;
    }

    #main .content {
        gap: 10px;
    }

    .content h3 {
        color: white;
        font-size: 1em;
        font-weight: 500;
    }

    .content form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .content form p {
        font-size: .8em;
    }

    .content form input {
        width: 93%;
        height: 50px;
        background-color: #464747;

    }

    .content form .button {
        width: 100%;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;

    }

    #right {
        right: -4%;
    }

    #left {
        left: -4%;
    }
}

@media screen and (min-width:501px) and (max-width:700px) {
    #banner {
        width: 90vw;
        height: 450px;
        border: 1px solid red;
        margin: 0 auto;
    }

    .poster {
        width: 100%;
        margin: auto;
    }

    .page {
        display: flex;
        justify-content: center;
    }

    #deva {
        background-position: top center;
    }

    .content {
        width: 90%;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 3%;
    }

    .content h1 {
        color: white;
        font-size: 2em;
    }

    .content h1 img {
        width: 100px;
    }

    .p {
        display: none;
    }

    #main .content {
        gap: 10px;
    }

    .content h3 {
        color: white;
        font-size: 1em;
        font-weight: 500;
    }

    .content form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .content form p {
        font-size: .9em;
    }

    .content form input {
        width: 83%;
        height: 50px;
        background-color: #464747;

    }

    .content form .button {
        width: 88%;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;

    }

    #right {
        right: -3%;
    }

    #left {
        left: -3%;
    }

    #trends {
        width: 99vw;
    }
}

@media screen and (min-width:701px) and (max-width:1000px) {
    #banner {
        width: 93vw;
        height: 470px;
        border: 1px solid red;
        margin: 0 auto;
    }

    .poster {
        width: 100%;
        margin: auto;
    }

    .page {
        display: flex;
        justify-content: flex-start;
    }

    #deva {
        background-position: top center;
    }

    .content {
        width: 90%;
        align-items: flex-start;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .content h1 {
        color: white;
        font-size: 2em;
        margin-right: 40%;
    }

    .content h1 img {
        width: 100px;
    }

    .p {
        display: none;
    }

    #main .content {
        gap: 10px;
    }

    .content h3 {
        color: white;
        font-size: 1.3em;
        font-weight: 500;
    }

    .content form {
        width: 100%;


    }

    .content form p {
        font-size: 1em;
        margin: 20px 0;

    }

    .content form input {
        width: 50%;
        height: 60px;
        background-color: #464747;

    }

    .content form .button {
        width: 30%;
        height: 60px;
        border-radius: 30px;
        font-size: 25px;
        margin-left: 10px;

    }

    #right {
        right: -2%;
    }

    #left {
        left: -2%;
    }
}

#trends {
    width: 79vw;
    /* height: 400px; */
    /* border: 1px solid white; */
    margin: auto;
    position: relative;
}

.heading {
    width: 100%;
    /* height: 70px; */
    /* line-height: 70px; */
    /* margin: 20px 0 10px; */
}

.heading h2 {
    color:white;
    font-size: 32px;
    font-family: sans-serif;
    margin:0 0 20px ;
}

#contents {

    width: 94%;
    /* border: 2px solid yellow; */
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    margin: auto;
    /* position:relative; */
    /* user-select: none;     */
}


#contents .box {
    display: inline-block;
    width: 130px;
    height: 260px;
    /* border: 1px solid green; */
    border-radius: 20px;
    margin-left: 30px;
    position: relative;
}

#right1 {
    top: 40%;
    right: 0%;
}

#left1 {
    top: 40%;
    left: 0%;
    z-index: 1;
}

.box .number {
    position: absolute;
    top: 0%;
    left: -20%;
    font-size: 75px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* border: 1px solid blue; */
    font-weight: bold;
    /* outline:1px solid white; */
}

#one {
    background: url(images/1.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
}

#two {
    background: url(images/2.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#three {
    background: url(images/3.jpg) no-repeat;
    background-position: top right;
    background-size: cover;
}

#four {
    background: url(images/4.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#five {
    background: url(images/5.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#six {
    background: url(images/6.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#seven {
    background: url(images/7.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#eight {
    background: url(images/8.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#ten {
    background: url(images/10.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#nine {
    background: url(images/9.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width:500px) {
    #trends {
        width: 90vw;
    }


    .heading h2 {
        font-size: 20px;
        font-family: sans-serif;
        margin: 0 0 20px;
    }

    

    #contents .box {
        width: 104px;
        height: 208px;
    }

    .box .number {
        font-size: 50px;
    }
}

@media screen and (min-width:501px) and (max-width:1000px) {
    #trends {
        width: 90vw;
    }

    .heading  h2{
        font-size: 22px;
        font-family: sans-serif;
    }

   

    #contents .box {
        width: 104px;
        height: 208px;
    }

    .box .number {
        font-size: 50px;
        top: 5%;
        left: -14%;
        color: white;
    }
}

#features {
    width: 79vw;
    /* border: 1px solid white; */
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    /* gap: 12px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: nowrap; */
}
.head{
    width: 100%;
}
.head h2{
    margin: 12px 0 ;
}
.featBox {
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    gap: 11px;
    /* border-radius: 20px; */
    color: white;
}

.feature {
    width: 21%;
    height: auto;
    /* border: 1px solid blue; */
    border-radius: 20px;
    display: grid;
    gap: 14px;
    padding: 18px;
    background-color: #292829;
    opacity: .8;
    font-family: sans-serif;
}

.feature img {
    justify-self: end;
    align-self: end;

}

.feature p {
    font-size: 17px;
}

@media screen and (max-width:500px) {
    #features {
        width: 90vw;
        /* margin-top: 40px; */
    }

    #features h1 {
        padding: 0px;
        margin: 0;
    }

    .featBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .feature {
        width: 89%;
    }

    .feature p {
        font-size: 15px;
    }

    .feature h3 {
        font-size: 16px;
    }

    .feature img {
        width: 63px;
        justify-self: end;
        align-self: end;
    }
}

@media screen and (min-width:501px) and (max-width:1000px) {
    #features {
        width: 90vw;
    }

    .featBox {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .feature {
        width: 92%;
    }

    .feature img {
        width: 63px;
        justify-self: end;
    }
}
#queries{
    width: 79vw;
    margin:0 auto;
    border: 1px solid white;display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.qBox{
    width:100%;
 border: 1px solid green;
 display: flex;   
 flex-direction: column;
 gap: 10px;
}
.query{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 25px;
    background-color: #292829;
    color: white;
    border: none;
}
